.bg-white{
    background-color: white;
}
.border-style-solid{
    border-style: solid;
}
.border-width-1px{
    border-width: 1px;
}
.font-opensans{
    font-family: 'Open Sans', sans-serif;
}
.font-weight-600{
    font-weight: 600;
}
.padding-bottom-1em{
    padding-bottom: 1em;
}
.padding-left-p5em{
    padding-left: 0.5em;
}
.padding-right-p5em{
    padding-right: 0.5em;
}
.padding-top-1em{
    padding-top: 1em;
}
.position-relative{
    position: relative;
}
.text-center{
    text-align: center;
}