.border-bottom-gray{
    border-bottom: 2px solid rgb(200, 200, 200);
}
.display-block{
    display: block;
}
.font-exo{
    font-family: 'Exo', sans-serif;
}
.font-opensans{
    font-family: 'Open Sans', sans-serif;
}
.font-size-1p75em{
    font-size: 1.75em;
}
.margin-auto{
    margin: auto;
}
.text-center{
    text-align: center;
}
.width-60pc{
    width: 60%;
}