
.bg-255-253-242{
    background-color: rgb(255, 254, 248);
}
.border-color{
    border-color: rgb(90, 79, 120);
}
.border-style-solid{
    border-style: solid;
}
.border-width-2px{
    border-width: 2px;
}
.display-block{
    display: block;
}
.font-exo{
    font-family: 'Exo', sans-serif;
}
.font-size-p65em{
    font-size: .65em;
}
.font-size-p85em{
    font-size: .85em;
}
.line-height-1em{
    line-height: 1em;
}
.margin-auto{
    margin: auto;
}
.max-width-17em{
    max-width: 17em;
}
.padding-bottom-1em{
    padding-bottom: 1em;
}
.padding-bottom-1p5em{
    padding-bottom: 1.5em;
}
.padding-left-p5em{
    padding-left: 0.5em;
}
.padding-left-1em{
    padding-left: 1em;
}
.padding-left-1p5em{
    padding-left: 1.5em;
}
.padding-right-p5em{
    padding-right: 0.5em;
}
.padding-right-1em{
    padding-right: 1em;
}
.padding-right-1p5em{
    padding-right: 1.5em;
}
.padding-top-1em{
    padding-top: 1em;
}
.padding-top-1p5em{
    padding-top: 1.5em;
}
.text-center{
    text-align: center;
}
