.background-white{
    background-color: white;
}
.border-color-240-240-240{
    border-color: rgb(240,240,240);
}
.border-radius-5px{
    border-radius: 5px;
}
.border-style-outset{
    border-style: outset;
}
.display-block{
    display: block;
}
.display-inline-block{
    display: inline-block;
}
.font-exo{
    font-family: 'Exo', sans-serif;
}
.font-opensans{
    font-family: 'Open Sans', sans-serif;
}
.margin-auto{
    margin: auto;
}
.padding-bottom-p25em{
    padding-bottom: 0.5em;
}
.padding-bottom-1em{
    padding-bottom: 1em;
}
.padding-left-p5em{
    padding-left: 0.5em;
}
.padding-right-p5em{
    padding-right: 0.5em;
}
.padding-top-p25em{
    padding-top: 0.25em;
}
.padding-top-p5em{
    padding-top: 0.5em;
}
.padding-top-1em{
    padding-top: 1em;
}
.text-center{
    text-align: center;
}
.width-4p5em{
    width: 4.5em;
}