.display-inline{
    display: inline-block;
}
.font-exo{
    font-family: 'Exo', sans-serif;
}
.font-size-3em{
    font-size: 3em;
}
.font-weight-600{
    font-weight: 600;
}
.height-p75em{
    height: .75em;
}
.padding-top-p5em{
    padding-top: 0.5em;
}
.text-center{
    text-align: center;   
}