.clear-both{
    clear: both;
}
.display-block{
    display: block;
}
.display-inlineblock{
    display: inline-block;
}
.float-left{
    float: left;
}
.font-exo{
    font-family: 'Exo', sans-serif;
}
.font-weight-400{
    font-weight: 400;
}
.margin-auto{
    margin: auto;
}
.text-center{
    text-align: center;
}
.width-50pc{
    width: 50%;
}

.position-static{
    position: static;
}