.display-block{
    display: block;
}
.display-inline{
    display: inline;
}
.float-left{
    float: left;
}
.font-exo{
    font-family: 'Exo', sans-serif;
}
.margin-auto{
    margin: auto;
}
.padding-left-p5em{
    padding-left: 0.5em;
}
.padding-right-p5em{
    padding-right: 0.5em;
}
.padding-top-1em{
    padding-top: 1em;
}
.padding-top-10em{
    padding-top: 10em;
}
.responsive-one-third-container{
    width: 100%;
}
.responsive-two-thirds-container{
    width:  100%;
 }
.text-center{
    text-align: center;
}
.width-100pc{
    width: 100%;
}

@media (min-width: 900px){
    .responsive-one-third-container{
        width: 33.3%
    }
    
    .responsive-two-thirds-container{
       width:  66.7%
	}
}