.clear-both{
    clear: both;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.display-block{
    display: block;
}
.display-inline{
    display: inline;
}
.margin-auto{
    margin: auto;
}
.padding-top-1em{
    padding-top: 1em;
}
.padding-left-p5em{
    padding-left: 0.5em;
}
.padding-right-p5em{
    padding-right: 0.5em;
}
.responsive-one-third-container{
    width: 100%
}

.responsive-two-thirds-container{
   width:  100%
}
.text-center{
    text-align: center;
}

.navButton{
    width: 33%;
}

@media (min-width: 900px){
    .navButton{
        width: 100%;
    }

    .responsive-one-third-container{
        width: 33.3%
    }
    
    .responsive-two-thirds-container{
       width:  66.7%
	}
}