.float-left{
    float: left;
}
.float-right{
    float: right;
}
.display-block{
    display: block;
}
.margin-auto{
    margin: auto;
}
.responsive-one-third-container{
    width: 100%
}

.responsive-two-thirds-container{
   width:  100%
}
.text-center{
    text-align: center;
}

.navButton{
    width: 33%;
}


@media (min-width: 900px){
    .navButton{
        width: 100%;
    }

    .responsive-one-third-container{
        width: 33.3%
    }
    
    .responsive-two-thirds-container{
       width:  66.7%
    }
}