.display-block{
    display: block;
}
.font-exo{
    font-family: 'Exo', sans-serif;
}
.font-opensans{
    font-family: 'Open Sans', sans-serif;
}
.font-size-1p5em{
    font-size: 1.5em;
}
.font-size-2p5em{
    font-size: 2.5em;
}
.margin-auto{
    margin: auto;
}
.padding-bottom-1em{
    padding-bottom: 1em;
}
.padding-left-1em{
    padding-left: 1em;
}
.padding-right-1em{
    padding-right: 1em;  
}
.padding-top-1em{
    padding-top: 1em;
}
.text-center{
    text-align: center;
}
.width-60pc{
    width: 60%;
}
.width-100pc{
    width: 100%;
}


.logo-blue-star-1{
    animation:spin 4s linear infinite;
}
.logo-blue-star-2{
    animation:spin 4s linear infinite;
}
.logo-outer-circle{
    animation:spin 4s linear infinite;   
}
.logo-yellow-octagon{
    animation:spin 4s linear infinite;
}

@keyframes spin { 
    from {background-color: rotate(0deg);}
    to {background-color: rotate(360deg);}
}