.bg-255-254-248{
    background-color: rgb(255, 254, 248);
}

.backdrop{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 2000;
}

.modal{
    background-color: rgb( 255, 255, 255);
    border-Radius: 5;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
    position: absolute;
    width: 80%;
    height: 80%;  
}
