.bg-255-253-242{
    background-color: rgb(255, 254, 248);
}
.border-top-2px-248-248-248{
    border-top: 2px solid rgb(248, 248, 248);
}
.font-opensans{
    font-family: 'Open Sans', sans-serif;
}
.height-3em{
    height: 3em;
}
.text-center{
    text-align: center;
}