.font-exo{
    font-family: 'Exo', sans-serif;
}
.font-opensans{
    font-family: 'Open Sans', sans-serif;
}
.font-size-1p75em{
    font-size: 1.75em;
}
.font-weight-400{
    font-weight: 400;
}
.padding-bottom-1em{
    padding-bottom: 1em;
}
.padding-left-1em{
    padding-left: 1em;
}
.padding-right-1em{
    padding-right: 1em;
}
.padding-top-1em{
    padding-top: 1em;
}
.text-center{
    text-align: center;
}





