table{
    display: inline;
}
.display-block{
    display: block;
}
.display-inline-block{
    display: inline-block;
}
.font-exo{
    font-family: 'Exo', sans-serif;
}
.height-20px{
    height: 20px;
}
.margin-auto{
    margin: auto;
}
.padding-left-p25em{
    padding-left: 0.25em;
}
.padding-right-p5em{
    padding-right: 0.25em;
}
.text-center{
    text-align: center;
}
.width-100pc{
    width: 100%;
}